{% extends 'base.html' %}
{% block content %}

<div class="dashboard-container">

    <div class="dashboard-card">
        <h2>Customer Churn Analysis</h2>

        <p class="subtitle">
            Upload your dataset to begin analysis
        </p>

        <!-- Upload Form -->
        <form method="POST" enctype="multipart/form-data" class="upload-box">
            <input type="file" name="file" accept=".csv, .xlsx" required>
            <button class="btn">Upload Dataset</button>
        </form>

        <!-- File Info -->
        <p class="info-text">
            Supported formats: CSV (.csv) and Excel (.xlsx)
        </p>
    </div>

</div>

{% endblock %}